

<div class="container">

  <input type="radio" name="formOption" id="loginChecked">
  <input type="radio" name="formOption" id="signupChecked" checked>

  <div class="form-container">
    <input type="text" placeholder="First name">
    <input type="text" placeholder="Last name">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
  </div>


  <div class="signup">
    <label for="signupChecked" class="btn btn-primary">
      Sign Up
    </label>
  </div>


  <div class="login">
    <label for="loginChecked" class="btn btn-secondary">
      Login
    </label>
  </div>

</div>
<router-outlet></router-outlet>
