
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <header>
      <input type ="checkbox" name ="" id ="chk1">
      <div class="logo"><h1>DoorStep OIL</h1></div>
          <div class="search-box">
              <form>
<input type ="text" name ="search" id ="srch" placeholder="Search">
<button type ="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
          <ul>
              <li><a routerLink="location">Locations</a></li>
              <li><a routerLink="#">Services</a></li>
              <li><a routerLink="#">Products</a></li>
              <li><a routerLink="#">Register</a></li>
              <li>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>

              </li>
          </ul>
          <div class="menu">
              <label for="chk1">
<i class="fa fa-bars"></i>
              </label>
          </div>
  </header>
<div class="par">
<p><br><br><br><br><br><br>
</div>
<div class="butt">
  <a routerLink="logreg" class="mee">Login/Register</a>

  </div>
</body>

<br>
<br>
<br>
<br>
<h1 class="pa">The Oils we are provides by Ours are..</h1>
<h3 class="paa">Order Now!</h3>

<div class="but">
<a routerLink="#" class="me">Order Petrol</a>
<a routerLink="#" class="me">Order Diesel</a>
<a routerLink="#" class="me">Order Kerosine</a>
</div>
<router-outlet></router-outlet>

